@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #081b29;
  color: #ededed;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #081b2954;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  display: flex; /* Display the navbar items in a row */
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}
.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

/* Home Page */

.home {
  display: flex;
  flex-direction: column;
  margin: 2%;
  min-height: 90vh; /* Ensure the section takes up at least the full viewport height */
}

.home-content {
  padding: 1%;
  flex: 1; /* Allow the content to grow and take up remaining space */
}


.home-content h1 {
  font-size: 56px;
  font-weight: 700;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content p {
  font-size: 16px;
}



/* About Page */

.about-body {
  background: url("https://i.ibb.co/wBMTRzg/me.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  background-attachment: fixed;
}

.about {
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.about-content {
  width: 100%;
}


.about-content h1 {
  font-size: 56px;
  font-weight: 700;
  color: #00abf0;
}

.about-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.about-content p {
  background-color: #081b2963;
  padding: 1%;
  font-size: 12, 16;
  font-weight: 600;
  color:#ededed;
}

.track {
  height: 50vh;
  padding: 0 10%;
}

.track-content {
  width: 75%;
  margin: 0 auto;
}


.track-content h1 {
  font-weight: 700;
  text-align: center;
  color: #00abf0;
  display: block;
  text-align: center;
}

.tracks {
  width: 75%;
  display: flex;
  flex-wrap: wrap; /* Ensure tracks wrap to the next line */
  justify-content: center; /* Center tracks horizontally */
  margin: 0 auto;
}

.track-container {
  width: calc(33.33% - 2%); /* Calculate width for three columns with a small margin */
  margin: 1%; /* Add a small margin between track containers */
  text-align: center;
}
.cover-image {
  max-width: 100%; /* Ensure the image doesn't stretch beyond its original size */
  height: auto; /* Maintain aspect ratio */
}


.home-sci {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 26px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  transition: .5s;
}

.purchase:hover {
  border: 2px solid #ededed;
  color: #ededed;
  background-color: #00abf0;
}